<%- include("header") -%>
<html>
  <body>
    <div class="main">
      <h1>To-Do List</h1>
      <h1><%= KindOfDay %></h1>
      <h2>It is a <%= typeOfList %>!</h2>
      <div class="box">
        <div class="item">
          <ul>
            <% list.forEach((item)=>{ %>
            <form action="/delete" method="post">
              <input
                type="checkbox"
                name="checkbox"
                value="<%= item._id %>"
                onChange="this.form.submit()"
              />
              <span> <%= item.name %> </span>
              <br />
              <input type="hidden" name="listName" value="<%= typeOfList %>" />
            </form>

            <% }) %>
          </ul>
        </div>
      </div>
      <form action="/" method="post">
        <input
          type="text"
          name="newItem"
          placeholder="Enter Your task"
          autocomplete="off"
        />
        <button type="submit" name="list" value="<%= typeOfList %>">Add</button>
      </form>
    </div>
  </body>
  <%- include("footer") %>
</html>
